.cajaHome {
  color: black;
  background-color: rgba(165, 42, 42, 0.482);
  border-radius: 5px;
  width: 50%;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  padding: 5px;
}

.titulo {
  text-decoration: underline;
  font-style: oblique;
  font-size: 40px;
}

.link {
  text-decoration: none;
  color: orange;
  transition: text-shadow 0.3s ease;
}

.link:hover {
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

.img {
  height: 300px;
  margin: auto;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
